In [25]:
## Import general libraries
import pandas as pd
import math
import numpy as np

## Import SQL libraries
import sqlite3
from sqlalchemy import create_engine

## Import Plotly libraries
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
## from pandas.api.types import CategoricalDtype
from plotly.graph_objs import *
import plotly.tools as tls
import plotly.plotly as py
import cufflinks as cf
from plotly.grid_objs import Grid, Column
import time

In [1018]:
engine = create_engine('sqlite:///SQLSaturday.db')
connection = engine.connect()

In [1019]:
print(engine.table_names())

['Earnings_by_Demographic_Clean', 'Housing_costs', 'Income_Housing_costs', 'KS_withdrawals', 'Kiwisaver_by_Gender_tidy', 'Kiwisaver_by_age_tidy', 'Kiwisaver_by_income_tidy', 'Kiwisaver_by_region_tidy', 'Median_House_Price', 'Population_by_Region', 'Sector_of_Landlord', 'Tenure_Age_Region', 'Tenure_Holder_Income_Region', 'Tenure_Holder_by_Demographic', 'Total_Pop_by_Age_Gender']

In [1020]:
## KIWISAVER BY AGE 
## Getting Number of People in Kiwisaver and Total Number of People by Age Group
stmt_age = ('SELECT a.*, \
                     b.No_People_in_Kiwisaver \
             FROM (SELECT Year, Age, SUM(No_People) \
             FROM (SELECT Year, CASE WHEN Age IN (\'0-14 years\', \'15-19 years\', \'20-24 years\') THEN \'0 - 24\' \
                  WHEN Age IN (\'25-29 years\', \'30-34 years\') THEN \'25 - 34\' \
                  WHEN Age IN (\'35-39 years\', \'40-44 years\') THEN \'35 - 44\' \
                  WHEN Age IN (\'45-49 years\', \'50-54 years\') THEN \'45 - 54\' \
                  WHEN Age IN (\'55-59 years\', \'60-64 years\', \'65 years and over\') THEN \'55+\' \
                  ELSE NULL \
                  END as \'Age\', \
                  No_People \
             FROM Total_Pop_by_Age_Gender \
             WHERE Sex = \'Total people\' \
             AND Age != \'Total people, all ages\') \
             GROUP BY Year, Age) a \
             LEFT JOIN (SELECT Date, CASE WHEN AgeBand IN (\'0 - 17\', \'18 - 24\') THEN \'0 - 24\' \
                                     ELSE AgeBand END as \'Age\', \
                                     SUM(No_People_in_Kiwisaver) as \'No_People_in_Kiwisaver\' \
                        FROM Kiwisaver_by_age_tidy \
                        WHERE AgeBand != \'No Information\' AND AgeBand != \'Total\' \
                        GROUP BY Date, Age) b \
             ON a.Year = b.Date \
             AND a.Age = b.Age')
                        
             
results_age = connection.execute(stmt_age).fetchall()

In [1021]:
## Turn results into dataframe and rename columns
age_df = pd.DataFrame(results_age)
age_df.columns = ['Year', 'Age', 'No_People', 'No_in_KS']
print(age_df.head(n=15))

    Year      Age  No_People  No_in_KS
0   2008   0 - 24    1501270  204655.0
1   2008  25 - 34     540470  110191.0
2   2008  35 - 44     629260  122818.0
3   2008  45 - 54     597280  127917.0
4   2008      55+     991410  134858.0
5   2009   0 - 24    1510470  356182.0
6   2009  25 - 34     541130  173229.0
7   2009  35 - 44     624220  182719.0
8   2009  45 - 54     608260  186158.0
9   2009      55+    1018440  198053.0
10  2010   0 - 24    1524990  494939.0
11  2010  25 - 34     542790  235462.0
12  2010  35 - 44     619280  235311.0
13  2010  45 - 54     616220  235336.0
14  2010      55+    1047370  250422.0

In [1022]:
## Calculating the percentage of people in Kiwisaver by age group
prct_KS = []
for i in range(0, len(age_df)):
    prct_KS.append(age_df.No_in_KS[i] / age_df.No_People[i])

In [1025]:
ages_prct = pd.concat([age_df, pd.Series(prct_KS)], axis=1)
ages_prct.columns = ['Year', 'Age', 'No_People', 'No_in_KS', 'Prct_KS']

In [1026]:
ages_prct.head()

   Year      Age  No_People  No_in_KS   Prct_KS
0  2008   0 - 24    1501270  204655.0  0.136321
1  2008  25 - 34     540470  110191.0  0.203880
2  2008  35 - 44     629260  122818.0  0.195178
3  2008  45 - 54     597280  127917.0  0.214166
4  2008      55+     991410  134858.0  0.136026

In [1052]:
## Kiwisaver by age - make the grid

years_from_col_age = set(ages_prct['Year'])
years_ints_age = sorted(list(years_from_col_age))
years_age = [str(year) for year in years_ints_age]
print(years_age)

# Make list of ages
ages = []
for age in ages_prct['Age']:
    if age not in ages: 
        ages.append(age)
print(ages)

['2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017']
['0 - 24', '25 - 34', '35 - 44', '45 - 54', '55+']

In [1056]:
columns_age = []
# Make grid
for year in years_age:
    for age in ages:
        age_dataset_by_year = ages_prct[ages_prct['Year'] == year]
        dataset_by_year_and_age = age_dataset_by_year[age_dataset_by_year['Age'] == age]
        for col_name in dataset_by_year_and_age:
            # each column name is unique
            column_name = '{year}_{age}_{header}_KS_grid'.format(
                year=year, age=age, header=col_name
            )
            a_column = Column(list(dataset_by_year_and_age[col_name]), column_name)
            columns_age.append(a_column)

# Upload grid
grid_age = Grid(columns_age)
url = py.grid_ops.upload(grid_age, 'KS_grid'+str(time.time()), auto_open=False)
url

'https://plot.ly/~EmmaVitz/156/'

In [1057]:
## Make the figure
figure_age = {
    'data': [],
    'layout': {},
    'frames': [],
    'config': {'scrollzoom': True}
}

# fill in most of layout
figure_age['layout']['xaxis'] = {'range': [0, 1], 'title': 'Proportion of People in Kiwisaver', 'gridcolor': '#FFFFFF'}
figure_age['layout']['yaxis'] = {'title': 'Age Group', 'gridcolor': '#FFFFFF'}
figure_age['layout']['title'] = 'Kiwisaver Participation by Age Group, 2008 - 2017'
figure_age['layout']['hovermode'] = 'closest'
figure_age['layout']['plot_bgcolor'] = 'rgb(223, 232, 243)'

In [1058]:
## Add slider
sliders_dict_age = {
    'active': 0,
    'yanchor': 'top',
    'xanchor': 'left',
    'currentvalue': {
        'font': {'size': 20},
        'prefix': 'Year:',
        'visible': True,
        'xanchor': 'right'
    },
    'transition': {'duration': 300, 'easing': 'cubic-in-out'},
    'pad': {'b': 10, 't': 50},
    'len': 0.9,
    'x': 0.1,
    'y': 0,
    'steps': []
}

In [1059]:
## Add play and pause buttons
figure_age['layout']['updatemenus'] = [
    {
        'buttons': [
            {
                'args': [None, {'frame': {'duration': 500, 'redraw': False},
                         'fromcurrent': True, 'transition': {'duration': 300, 'easing': 'quadratic-in-out'}}],
                'label': 'Play',
                'method': 'animate'
            },
            {
                'args': [[None], {'frame': {'duration': 0, 'redraw': False}, 'mode': 'immediate',
                'transition': {'duration': 0}}],
                'label': 'Pause',
                'method': 'animate'
            }
        ],
        'direction': 'left',
        'pad': {'r': 10, 't': 87},
        'showactive': False,
        'type': 'buttons',
        'x': 0.1,
        'xanchor': 'right',
        'y': 0,
        'yanchor': 'top'
    }
]

custom_colors_age = {
    '0 - 24': 'rgb(171, 99, 250)',
    '25 - 34': 'rgb(230, 99, 250)',
    '35 - 44': 'rgb(99, 110, 250)',
    '45 - 54': 'rgb(25, 211, 243)',
    '55+': 'rgb(50, 170, 255)'
}

In [1060]:
## Fill in figure with data and frames
col_name_template_age = '{year}_{age}_{header}_KS_grid'
for age in ages:
    data_dict_age = {
        'xsrc': grid_age.get_column_reference(col_name_template_age.format(
            year=year, age=age, header='Prct_KS'
        )),
        'ysrc': grid_age.get_column_reference(col_name_template_age.format(
            year=year, age=age, header='Age'
        )),
        'mode': 'markers',
        'textsrc': grid_age.get_column_reference(col_name_template_age.format(
            year=year, age=age, header='Age'
        )),
        'marker': {
            'sizemode': 'area',
            'sizeref': 1500,
            'sizesrc': grid_age.get_column_reference(col_name_template_age.format(
                year=year, age=age, header='No_People'
            )),
            'color': custom_colors[age]
        },
        'name': age
}
    figure_age['data'].append(data_dict_age)

In [1061]:
## Plot
for year in years_age:
    frame_age = {'data': [], 'name': str(year)}
    for age in ages:
        data_dict_age = {
            'xsrc': grid_age.get_column_reference(col_name_template_age.format(
                year=year, age=age, header='Prct_KS'
            )),
            'ysrc': grid_age.get_column_reference(col_name_template_age.format(
                year=year, age=age, header='Age'
            )),
            'mode': 'markers',
            'textsrc': grid_age.get_column_reference(col_name_template_age.format(
                year=year, age=age, header='Age'
                )),
            'marker': {
                'sizemode': 'area',
                'sizeref': 1500,
                'sizesrc': grid_age.get_column_reference(col_name_template_age.format(
                    year=year, age=age, header='No_People'
                )),
                'color': custom_colors_age[age]
            },
            'name': age
        }
        frame_age['data'].append(data_dict_age)

    figure_age['frames'].append(frame_age)
    slider_step_age = {'args': [
        [year],
        {'frame': {'duration': 300, 'redraw': False},
         'mode': 'immediate',
       'transition': {'duration': 300}}
     ],
     'label': year,
     'method': 'animate'}
    sliders_dict_age['steps'].append(slider_step_age)

figure_age['layout']['sliders'] = [sliders_dict_age]

In [1062]:
py.icreate_animations(figure_age, 'KS_example'+str(time.time()))

In [1063]:
## KIWISAVER BY SEX
## Getting Number of People in Kiwisaver and Total Number of People by Sex
stmt_sex = ('SELECT a.Year, a.Sex, a.No_People, \
                     b.Number_of_People \
             FROM Total_Pop_by_Age_Gender a \
             LEFT JOIN Kiwisaver_by_Gender_tidy b \
             ON a.Year = b.Year \
             AND a.Sex = b.Gender \
             WHERE a.Sex != \'Total people\' \
             AND b.Gender != \'No Information\' \
             AND a.Age = \'Total people, all ages\'')


results_sex = connection.execute(stmt_sex).fetchall()

In [1064]:
## Turning it into a dataframe & renaming columns
KS_sex = pd.DataFrame(results_sex)
KS_sex.columns = ['Year', 'Sex', 'Total_No_People', 'No_People_in_KS']
print(KS_sex.head())

   Year     Sex Total_No_People No_People_in_KS
0  2017  Female         2432800       1,406,493
1  2017    Male         2361100       1,348,163
2  2016  Female         2384100       1,348,815
3  2016    Male         2309100       1,286,045
4  2015  Female         2338500       1,294,793

In [1065]:
## Removing commas from No_People_in_KS & turning it into an integer
for i in range(0, len(KS_sex)):
    KS_sex.No_People_in_KS[i] = int(str.replace(KS_sex.No_People_in_KS[i], ',', ''))
    KS_sex.Total_No_People[i] = int(KS_sex.Total_No_People[i])
print(KS_sex.head())

   Year     Sex Total_No_People No_People_in_KS
0  2017  Female         2432800         1406493
1  2017    Male         2361100         1348163
2  2016  Female         2384100         1348815
3  2016    Male         2309100         1286045
4  2015  Female         2338500         1294793

In [1066]:
## Calculating the percentage in Kiwisaver
KS_sex['Prct_in_KS'] = KS_sex.No_People_in_KS / KS_sex.Total_No_People
print(KS_sex.head())

   Year     Sex Total_No_People No_People_in_KS Prct_in_KS
0  2017  Female         2432800         1406493   0.578138
1  2017    Male         2361100         1348163   0.570989
2  2016  Female         2384100         1348815   0.565754
3  2016    Male         2309100         1286045   0.556946
4  2015  Female         2338500         1294793   0.553685

In [1067]:
## Make the grid

years_from_col_sex = set(KS_sex['Year'])
years_ints_sex = sorted(list(years_from_col_sex))
years_sex = [str(year) for year in years_ints_sex]
print(years_sex)

# make list of ages
sexes = []
for sex in KS_sex['Sex']:
    if sex not in sexes: 
        sexes.append(sex)
print(sexes)

['2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017']
['Female', 'Male']

In [1068]:
columns_sex = []
# make grid
for year in years_sex:
    for sex in sexes:
        sexdataset_by_year = KS_sex[KS_sex['Year'] == year]
        dataset_by_year_and_sex = sexdataset_by_year[sexdataset_by_year['Sex'] == sex]
        for col_name in dataset_by_year_and_sex:
            # each column name is unique
            column_name = '{year}_{sex}_{header}_KS_grid'.format(
                year=year, sex=sex, header=col_name
            )
            a_column = Column(list(dataset_by_year_and_sex[col_name]), column_name)
            columns_sex.append(a_column)

# upload grid
grid_sex = Grid(columns_sex)
url_sex = py.grid_ops.upload(grid_sex, 'KS_grid'+str(time.time()), auto_open=False)
url_sex

'https://plot.ly/~EmmaVitz/158/'

In [1069]:
## Make the figure
figure_sex = {
    'data': [],
    'layout': {},
    'frames': [],
    'config': {'scrollzoom': True}
}

# fill in most of layout
figure_sex['layout']['xaxis'] = {'range': [0.1, 0.6], 'title': 'Proportion of People in Kiwisaver', 'gridcolor': '#FFFFFF'}
figure_sex['layout']['yaxis'] = {'title': 'Sex', 'gridcolor': '#FFFFFF'}
figure_sex['layout']['title'] = 'Kiwisaver Participation by Sex, 2008 - 2017'
figure_sex['layout']['hovermode'] = 'closest'
figure_sex['layout']['plot_bgcolor'] = 'rgb(223, 232, 243)'

In [1070]:
## Add slider
sliders_dict_sex = {
    'active': 0,
    'yanchor': 'top',
    'xanchor': 'left',
    'currentvalue': {
        'font': {'size': 20},
        'prefix': 'Year:',
        'visible': True,
        'xanchor': 'right'
    },
    'transition': {'duration': 300, 'easing': 'cubic-in-out'},
    'pad': {'b': 10, 't': 50},
    'len': 0.9,
    'x': 0.1,
    'y': 0,
    'steps': []
}

In [1071]:
## Add play and pause buttons
figure_sex['layout']['updatemenus'] = [
    {
        'buttons': [
            {
                'args': [None, {'frame': {'duration': 500, 'redraw': False},
                         'fromcurrent': True, 'transition': {'duration': 300, 'easing': 'quadratic-in-out'}}],
                'label': 'Play',
                'method': 'animate'
            },
            {
                'args': [[None], {'frame': {'duration': 0, 'redraw': False}, 'mode': 'immediate',
                'transition': {'duration': 0}}],
                'label': 'Pause',
                'method': 'animate'
            }
        ],
        'direction': 'left',
        'pad': {'r': 10, 't': 87},
        'showactive': False,
        'type': 'buttons',
        'x': 0.1,
        'xanchor': 'right',
        'y': 0,
        'yanchor': 'top'
    }
]

custom_colors_sex = {
    'Male': 'rgb(171, 99, 250)',
    'Female': 'rgb(50, 170, 255)'
}

In [1072]:
## Fill in figure with data and frames
col_name_template_sex = '{year}_{sex}_{header}_KS_grid'
for sex in sexes:
    data_dict_sex = {
        'xsrc': grid_sex.get_column_reference(col_name_template_sex.format(
            year=year, sex=sex, header='Prct_in_KS'
        )),
        'ysrc': grid_sex.get_column_reference(col_name_template_sex.format(
            year=year, sex=sex, header='Sex'
        )),
        'mode': 'markers',
        'textsrc': grid_sex.get_column_reference(col_name_template_sex.format(
            year=year, sex=sex, header='Sex'
        )),
        'marker': {
            'sizemode': 'area',
            'sizeref': 1500,
            'sizesrc': grid_sex.get_column_reference(col_name_template_sex.format(
                year=year, sex=sex, header='No_People_in_KS'
            )),
            'color': custom_colors_sex[sex]
        },
        'name': sex
}
    figure_sex['data'].append(data_dict_sex)

In [1073]:
## Plot
for year in years_sex:
    frame_sex = {'data': [], 'name': str(year)}
    for sex in sexes:
        data_dict_sex = {
            'xsrc': grid_sex.get_column_reference(col_name_template_sex.format(
                year=year, sex=sex, header='Prct_in_KS'
            )),
            'ysrc': grid_sex.get_column_reference(col_name_template_sex.format(
                year=year, sex=sex, header='Sex'
            )),
            'mode': 'markers',
            'textsrc': grid_sex.get_column_reference(col_name_template_sex.format(
                year=year, sex=sex, header='Sex'
                )),
            'marker': {
                'sizemode': 'area',
                'sizeref': 1500,
                'sizesrc': grid_sex.get_column_reference(col_name_template_sex.format(
                    year=year, sex=sex, header='No_People_in_KS'
                )),
                'color': custom_colors_sex[sex]
            },
            'name': sex
        }
        frame_sex['data'].append(data_dict_sex)

    figure_sex['frames'].append(frame_sex)
    slider_step_sex = {'args': [
        [year],
        {'frame': {'duration': 300, 'redraw': False},
         'mode': 'immediate',
       'transition': {'duration': 300}}
     ],
     'label': year,
     'method': 'animate'}
    sliders_dict_sex['steps'].append(slider_step_sex)

figure_sex['layout']['sliders'] = [sliders_dict_sex]

In [1074]:
py.icreate_animations(figure_sex, 'KS_example'+str(time.time()))

In [1075]:
## KIWISAVER BY SEX
## Getting Number of People in Kiwisaver and Total Number of People by Sex
stmt_region = ('SELECT a.*, b.No_People_in_Kiwisaver \
               FROM (SELECT Year, Region, SUM(Number_of_People) \
                   FROM (SELECT Year, CASE WHEN Region IN (\'Nelson region\', \'Marlborough region\', \
                                    \'Tasman region\', \'West Coast region\') THEN \'Nelson/Tasman/Marlborough/West Coast\' \
                        WHEN Region IN (\'Gisborne region\', \'Hawkes Bay region\') THEN \'Gisborne/Hawkes Bay\' \
                        WHEN Region = \'Manawatu-Wanganui region\' THEN \'Manawatu-Wanganui\' \
                        WHEN Region = \'Auckland region\' THEN \'Auckland\' \
                        WHEN Region = \'Bay of Plenty region\' THEN \'Bay of Plenty\' \
                        WHEN Region = \'Canterbury region\' THEN \'Canterbury\' \
                        WHEN Region = \'Northland region\' THEN \'Northland\' \
                        WHEN Region = \'Otago region\' THEN \'Otago\' \
                        WHEN Region = \'Southland region\' THEN \'Southland\' \
                        WHEN Region = \'Taranaki region\' THEN \'Taranaki\' \
                        WHEN Region = \'Wellington region\' THEN \'Wellington\' \
                        WHEN Region = \'Waikato region\' THEN \'Waikato\' \
                        ELSE Region = \'Other\' \
                        END as \'Region\', \
                        Number_of_People \
                        FROM Population_by_Region \
                        WHERE Region != \'Total, New Zealand\') \
                    GROUP BY Year, Region) a \
             LEFT JOIN (SELECT Date, Region, \
                                     SUM(No_People_In_Kiwisaver) as \'No_People_in_Kiwisaver\' \
                        FROM Kiwisaver_by_region_tidy \
                        WHERE Region != \'Total\' \
                        AND Region != \'Other\' \
                        AND Region != \'Chatham Islands\' \
                        GROUP BY Date, Region) b \
             ON a.Year = b.Date \
             AND a.Region = b.Region')
                        
             
results_region = connection.execute(stmt_region).fetchall()

In [1081]:
## Turning it into a dataframe and renaming columns
KS_region = pd.DataFrame(results_region)
KS_region.columns = ['Year', 'Region', 'No_Ppl', 'No_Ppl_KS']
KS_region.head()

   Year               Region   No_Ppl  No_Ppl_KS
0  2008             Auckland  1405500   267890.0
1  2008        Bay of Plenty   270200    40940.0
2  2008           Canterbury   553800    92861.0
3  2008  Gisborne/Hawkes Bay   199500    34233.0
4  2008    Manawatu-Wanganui   228600    30061.0

In [1083]:
## Calculating percentage of people in Kiwisaver by Region
prct_KS_region = []
for i in range(0, len(KS_region)):
    prct_KS_region.append(KS_region.No_Ppl_KS[i] / KS_region.No_Ppl[i])

In [1084]:
regions_prct = pd.concat([KS_region, pd.Series(prct_KS_region)], axis=1)
regions_prct.columns = ['Year', 'Region', 'No_Ppl', 'No_Ppl_KS', 'Prct_KS']
print(regions_prct.head())

   Year               Region   No_Ppl  No_Ppl_KS   Prct_KS
0  2008             Auckland  1405500   267890.0  0.190601
1  2008        Bay of Plenty   270200    40940.0  0.151517
2  2008           Canterbury   553800    92861.0  0.167680
3  2008  Gisborne/Hawkes Bay   199500    34233.0  0.171594
4  2008    Manawatu-Wanganui   228600    30061.0  0.131500

In [1086]:
#### MAKING THE ANIMATION
## Make the grid
years_from_col_region = set(regions_prct['Year'])
years_ints_region = sorted(list(years_from_col_region))
years_region = [str(year) for year in years_ints_region]
print(years_region)

# make list of regions
regions = []
for region in regions_prct['Region']:
    if region not in regions: 
        regions.append(region)
print(regions)

['2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017']
['Auckland', 'Bay of Plenty', 'Canterbury', 'Gisborne/Hawkes Bay', 'Manawatu-Wanganui', 'Nelson/Tasman/Marlborough/West Coast', 'Northland', 'Otago', 'Southland', 'Taranaki', 'Waikato', 'Wellington']

In [1087]:
columns_regions = []
# make grid
for year in years_region:
    for region in regions:
        regdataset_by_year = regions_prct[regions_prct['Year'] == year]
        dataset_by_year_and_region = regdataset_by_year[regdataset_by_year['Region'] == region]
        for col_name in dataset_by_year_and_region:
            # each column name is unique
            column_name = '{year}_{region}_{header}_KS_grid'.format(
                year=year, region=region, header=col_name
            )
            a_column = Column(list(dataset_by_year_and_region[col_name]), column_name)
            columns_regions.append(a_column)

# upload grid
grid = Grid(columns_regions)
url = py.grid_ops.upload(grid, 'KS_grid_region'+str(time.time()), auto_open=False)
url

'https://plot.ly/~EmmaVitz/160/'

In [1088]:
## MAKE THE FIGURE
figure_region = {
    'data': [],
    'layout': {},
    'frames': [],
    'config': {'scrollzoom': True}
}

# fill in most of layout
figure_region['layout']['xaxis'] = {'range': [0, 1], 'title': 'Percentage of People in Kiwisaver', 'gridcolor': '#FFFFFF'}
figure_region['layout']['yaxis'] = {'title': 'Region', 'gridcolor': '#FFFFFF'}
figure_region['layout']['hovermode'] = 'closest'
figure_region['layout']['plot_bgcolor'] = 'rgb(223, 232, 243)'

In [1089]:
## Add slider
sliders_dict_region = {
    'active': 0,
    'yanchor': 'top',
    'xanchor': 'left',
    'currentvalue': {
        'font': {'size': 20},
        'prefix': 'Year:',
        'visible': True,
        'xanchor': 'right'
    },
    'transition': {'duration': 300, 'easing': 'cubic-in-out'},
    'pad': {'b': 10, 't': 50},
    'len': 0.9,
    'x': 0.1,
    'y': 0,
    'steps': []
}

In [1090]:
## ADD PLAY AND PAUSE BUTTONS
figure_region['layout']['updatemenus'] = [
    {
        'buttons': [
            {
                'args': [None, {'frame': {'duration': 500, 'redraw': False},
                         'fromcurrent': True, 'transition': {'duration': 300, 'easing': 'quadratic-in-out'}}],
                'label': 'Play',
                'method': 'animate'
            },
            {
                'args': [[None], {'frame': {'duration': 0, 'redraw': False}, 'mode': 'immediate',
                'transition': {'duration': 0}}],
                'label': 'Pause',
                'method': 'animate'
            }
        ],
        'direction': 'left',
        'pad': {'r': 10, 't': 87},
        'showactive': False,
        'type': 'buttons',
        'x': 0.1,
        'xanchor': 'right',
        'y': 0,
        'yanchor': 'top'
    }
]

custom_colors_region = {
    'Auckland': '#a6cee3',
    'Bay of Plenty': '#1f78b4',
    'Canterbury': '#b2df8a',
    'Gisborne/Hawkes Bay': '#33a02c',
    'Manawatu-Wanganui': '#fb9a99',
    'Nelson/Tasman/Marlborough/West Coast': '#e31a1c',
    'Northland': '#fdbf6f',
    'Otago': '#ff7f00',
    'Southland': '#cab2d6',
    'Taranaki': '#6a3d9a',
    'Waikato': '#ffff99',
    'Wellington': '#b15928',
}

In [1091]:
## Fill in figure with data and frames
col_name_template_region = '{year}_{region}_{header}_KS_grid'
for region in regions:
    data_dict_region = {
        'xsrc': grid.get_column_reference(col_name_template_region.format(
            year=year, region=region, header='Prct_KS'
        )),
        'ysrc': grid.get_column_reference(col_name_template_region.format(
            year=year, region=region, header='Region'
        )),
        'mode': 'markers',
        'textsrc': grid.get_column_reference(col_name_template_region.format(
            year=year, region=region, header='Region'
        )),
        'marker': {
            'sizemode': 'area',
            'sizeref': 1500,
            'sizesrc': grid.get_column_reference(col_name_template_region.format(
                year=year, region=region, header='No_Ppl'
            )),
            'color': custom_colors_region[region]
        },
        'name': region
}
    figure_region['data'].append(data_dict_region)

In [1092]:
## PLOT
for year in years_region:
    frame_region = {'data': [], 'name': str(year)}
    for region in regions:
        data_dict_region = {
            'xsrc': grid.get_column_reference(col_name_template_region.format(
                year=year, region=region, header='Prct_KS'
            )),
            'ysrc': grid.get_column_reference(col_name_template_region.format(
                year=year, region=region, header='Region'
            )),
            'mode': 'markers',
            'textsrc': grid.get_column_reference(col_name_template_region.format(
                year=year, region=region, header='Region'
                )),
            'marker': {
                'sizemode': 'area',
                'sizeref': 1500,
                'sizesrc': grid.get_column_reference(col_name_template_region.format(
                    year=year, region=region, header='No_Ppl'
                )),
                'color': custom_colors_region[region]
            },
            'name': region
        }
        frame_region['data'].append(data_dict_region)

    figure_region['frames'].append(frame_region)
    slider_step_region = {'args': [
        [year],
        {'frame': {'duration': 300, 'redraw': False},
         'mode': 'immediate',
       'transition': {'duration': 300}}
     ],
     'label': year,
     'method': 'animate'}
    sliders_dict_region['steps'].append(slider_step_region)

figure_region['layout']['sliders'] = [sliders_dict_region]

In [1094]:
py.icreate_animations(figure_region, 'KS_example'+str(time.time()))

In [1095]:
## KIWISAVER WITHDRAWALS

stmt_withdrawals = ('SELECT a.*, b.Median_price_NZ FROM \
                        (SELECT Year, \
                            WithdrawalReason, \
                            Number_of_People, \
                            CAST(Amount_Withdrawn AS DECIMAL) / CAST(Number_of_People AS DECIMAL) \
                               AS \'Avg_Per_Person\' \
                    FROM KS_withdrawals \
                    WHERE WithdrawalReason != \'Total\' \
                    GROUP BY Year, WithdrawalReason) a \
                    LEFT JOIN Median_House_Price b \
                    ON a.Year = b.Year')
                        
             
results_withdrawals = connection.execute(stmt_withdrawals).fetchall()

In [1097]:
## Turn it into a dataframe and change column names
withdrawals = pd.DataFrame(results_withdrawals)
withdrawals.columns = ['Year', 'WithdrawalReason', 'Number_of_People', 'Avg_Withdrawal_Per_Person', 'Median_House_Price']

In [5]:
for i in range(0, len(withdrawals)):
    withdrawals.Median_House_Price[i] = int(withdrawals.Median_House_Price[i])

In [1099]:
## PLOT ANIMATION OF WITHDRAWALS ##
## Make the grid

years_withdrawals = ['2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017']
print(years_withdrawals)

# Make list of withdrawal reasons
reasons = []
for reason in withdrawals['WithdrawalReason']:
    if reason not in reasons: 
        reasons.append(reason)
print(reasons)

['2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017']
['FinancialHardship', 'FirstHome']

In [1100]:
columns_withdrawals = []
# make grid
for year in years_withdrawals:
    for reason in reasons:
        withdrawals_by_year = withdrawals[withdrawals['Year'] == year]
        withdrawals_by_year_and_reason = withdrawals_by_year[withdrawals_by_year['WithdrawalReason'] == reason]
        for col_name in withdrawals_by_year_and_reason:
            # each column name is unique
            column_name = '{year}_{reason}_{header}_KS_grid'.format(
                year=year, reason=reason, header=col_name
            )
            a_column = Column(list(withdrawals_by_year_and_reason[col_name]), column_name)
            columns_withdrawals.append(a_column)

# upload grid
grid = Grid(columns_withdrawals)
url = py.grid_ops.upload(grid, 'KS_withdrawals_grid'+str(time.time()), auto_open=False)
url

'https://plot.ly/~EmmaVitz/163/'

In [1101]:
## Make the figure
figure_wd = {
    'data': [],
    'layout': {},
    'frames': [],
    'config': {'scrollzoom': True}
}

# fill in most of layout
figure_wd['layout']['xaxis'] = {'range': [300000, 600000], 'title': 'Median House Price in New Zealand', 'gridcolor': '#FFFFFF'}
figure_wd['layout']['yaxis'] = {'range': [0, 20000], 'title': 'Average Withdrawal from KiwiSaver', 'gridcolor': '#FFFFFF'}
figure_wd['layout']['hovermode'] = 'closest'
figure_wd['layout']['plot_bgcolor'] = 'rgb(223, 232, 243)'

In [1102]:
## Add slider
sliders_dict_wd = {
    'active': 0,
    'yanchor': 'top',
    'xanchor': 'left',
    'currentvalue': {
        'font': {'size': 20},
        'prefix': 'Year:',
        'visible': True,
        'xanchor': 'right'
    },
    'transition': {'duration': 300, 'easing': 'cubic-in-out'},
    'pad': {'b': 10, 't': 50},
    'len': 0.9,
    'x': 0.1,
    'y': 0,
    'steps': []
}

In [1103]:
## Add play and pause buttons
figure_wd['layout']['updatemenus'] = [
    {
        'buttons': [
            {
                'args': [None, {'frame': {'duration': 500, 'redraw': False},
                         'fromcurrent': True, 'transition': {'duration': 300, 'easing': 'quadratic-in-out'}}],
                'label': 'Play',
                'method': 'animate'
            },
            {
                'args': [[None], {'frame': {'duration': 0, 'redraw': False}, 'mode': 'immediate',
                'transition': {'duration': 0}}],
                'label': 'Pause',
                'method': 'animate'
            }
        ],
        'direction': 'left',
        'pad': {'r': 10, 't': 87},
        'showactive': False,
        'type': 'buttons',
        'x': 0.1,
        'xanchor': 'right',
        'y': 0,
        'yanchor': 'top'
    }
]

custom_colors_wd = {
    'FinancialHardship': 'rgb(171, 99, 250)',
    'FirstHome': 'rgb(50, 170, 255)'
}

In [1104]:
## Fill in figure with data and frames
col_name_template_wd = '{year}_{reason}_{header}_KS_grid'
for reason in reasons:
    data_dict_wd = {
        'xsrc': grid.get_column_reference(col_name_template_wd.format(
            year=year, reason=reason, header='Median_House_Price'
        )),
        'ysrc': grid.get_column_reference(col_name_template_wd.format(
            year=year, reason=reason, header='Avg_Withdrawal_Per_Person'
        )),
        'mode': 'markers',
        'textsrc': grid.get_column_reference(col_name_template_wd.format(
            year=year, reason=reason, header='Avg_Withdrawal_Per_Person'
        )),
        'marker': {
            'sizemode': 'area',
            'sizeref': 50,
            'sizesrc': grid.get_column_reference(col_name_template_wd.format(
                year=year, reason = reason, header='Number_of_People'
            )),
            'color': custom_colors_wd[reason]
            },
        'name': reason
    }
    figure_wd['data'].append(data_dict_wd)

In [1105]:
## Plot
for year in years_withdrawals:
    frame_wd = {'data': [], 'name': str(year)}
    for reason in reasons:
        data_dict_wd = {
            'xsrc': grid.get_column_reference(col_name_template_wd.format(
                year=year, reason=reason, header='Median_House_Price'
            )),
            'ysrc': grid.get_column_reference(col_name_template_wd.format(
                year=year, reason=reason, header='Avg_Withdrawal_Per_Person'
            )),
            'mode': 'markers',
            'textsrc': grid.get_column_reference(col_name_template_wd.format(
                year=year, reason=reason, header='Avg_Withdrawal_Per_Person'
                )),
            'marker': {
                'sizemode': 'area',
                'sizeref': 50,
                'sizesrc': grid.get_column_reference(col_name_template_wd.format(
                year=year, reason = reason, header='Number_of_People'
                )),
                'color': custom_colors_wd[reason]
            },
            'name': reason
        }
        frame_wd['data'].append(data_dict_wd)

    figure_wd['frames'].append(frame_wd)
    slider_step_wd = {'args': [
        [year],
        {'frame': {'duration': 300, 'redraw': False},
         'mode': 'immediate',
       'transition': {'duration': 300}}
     ],
     'label': year,
     'method': 'animate'}
    sliders_dict_wd['steps'].append(slider_step_wd)

figure_wd['layout']['sliders'] = [sliders_dict_wd]

In [1106]:
py.icreate_animations(figure_wd, 'KS_withdrawals'+str(time.time()))

In [1108]:
## Get housing costs and income by broad regions
housing_income_stmt = ("SELECT Year, \
                               Broad_Region, \
                               Measure, \
                               Value \
                        FROM Housing_costs \
                        WHERE Year != 2007")

results_housing_income = connection.execute(housing_income_stmt).fetchall()

In [1109]:
## Turn it into a dataframe and rename columns
housing_income = pd.DataFrame(results_housing_income)
housing_income.columns = ['Year', 'Region', 'Measure', 'Value']
housing_income.head()

   Year                Region                          Measure  Value
0  2008              Auckland  Average annual household income  87647
1  2008            Wellington  Average annual household income  90475
2  2008  Rest of North Island  Average annual household income  64554
3  2008            Canterbury  Average annual household income  66186
4  2008  Rest of South Island  Average annual household income  66003

In [ ]:
## Making numbers into floats

for i in range(0, len(housing_income)):
    housing_income.Value[i] = float(housing_income.Value[i])

In [1110]:
## Pivot variables so income, costs and the ratio are in separate columns
housing_ratio = housing_income.groupby(['Year', 'Region', 'Measure'])['Value'].sum().unstack('Measure')

In [1111]:
housing_ratio = housing_ratio.reset_index()
housing_ratio.head()

Measure,Year,Region,Average annual household income,Average annual housing costs,Ratio of housing costs to total household income
0,2008,Auckland,87647,15372,17.5
1,2008,Canterbury,66186,11384,17.2
2,2008,New Zealand,74882,11967,16
3,2008,Rest of North Island,64554,9122,14.1
4,2008,Rest of South Island,66003,9150,13.9

In [1113]:
#### MAKING THE ANIMATION
## MAKE THE GRID

years_from_col_housing_income = set(housing_ratio['Year'])
years_ints_housing_income = sorted(list(years_from_col_housing_income))
years_housing_income = [str(year) for year in years_ints_housing_income]
print(years_housing_income)

# make list of type of ownership 
regions_broad = []
for region in housing_ratio['Region']:
    if region not in regions_broad: 
        regions_broad.append(region)
print(regions_broad)

['2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017']
['Auckland', 'Canterbury', 'New Zealand', 'Rest of North Island', 'Rest of South Island', 'Wellington']

In [1114]:
columns_housing_income = []
# make grid
for year in years_housing_income:
    for region in regions_broad:
        housing_income_dataset_by_year = housing_ratio[housing_ratio['Year'] == year]
        dataset_by_year_and_region = housing_income_dataset_by_year[housing_income_dataset_by_year['Region'] == region]
        for col_name in dataset_by_year_and_region:
            # each column name is unique
            column_name = '{year}_{region}_{header}_KS_grid'.format(
                year=year, region=region, header=col_name
            )
            a_column = Column(list(dataset_by_year_and_region[col_name]), column_name)
            columns_housing_income.append(a_column)

# upload grid
grid_housing_income = Grid(columns_housing_income)
url = py.grid_ops.upload(grid_housing_income, 'KS_grid_ownership'+str(time.time()), auto_open=False)
url

'https://plot.ly/~EmmaVitz/165/'

In [1116]:
## Make the figure
figure_housing_income = {
    'data': [],
    'layout': {},
    'frames': [],
    'config': {'scrollzoom': True}
}

# fill in most of layout
figure_housing_income['layout']['xaxis'] = {'range': [50000, 140000], 'title': 'Average Annual Household Income', 'gridcolor': '#FFFFFF'}
figure_housing_income['layout']['yaxis'] = {'range': [7000, 30000],'title': 'Average Annual Housing Costs', 'gridcolor': '#FFFFFF'}
figure_housing_income['layout']['hovermode'] = 'closest'
figure_housing_income['layout']['plot_bgcolor'] = 'rgb(223, 232, 243)'

In [1117]:
## Add slider
sliders_dict_housing_income = {
    'active': 0,
    'yanchor': 'top',
    'xanchor': 'left',
    'currentvalue': {
        'font': {'size': 20},
        'prefix': 'Year:',
        'visible': True,
        'xanchor': 'right'
    },
    'transition': {'duration': 300, 'easing': 'cubic-in-out'},
    'pad': {'b': 10, 't': 50},
    'len': 0.9,
    'x': 0.1,
    'y': 0,
    'steps': []
}

In [1118]:
## ADD PLAY AND PAUSE BUTTONS
figure_housing_income['layout']['updatemenus'] = [
    {
        'buttons': [
            {
                'args': [None, {'frame': {'duration': 500, 'redraw': False},
                         'fromcurrent': True, 'transition': {'duration': 300, 'easing': 'quadratic-in-out'}}],
                'label': 'Play',
                'method': 'animate'
            },
            {
                'args': [[None], {'frame': {'duration': 0, 'redraw': False}, 'mode': 'immediate',
                'transition': {'duration': 0}}],
                'label': 'Pause',
                'method': 'animate'
            }
        ],
        'direction': 'left',
        'pad': {'r': 10, 't': 87},
        'showactive': False,
        'type': 'buttons',
        'x': 0.1,
        'xanchor': 'right',
        'y': 0,
        'yanchor': 'top'
    }
]

custom_colors_housing_income = {
    'Auckland': 'rgb(171, 99, 250)',
    'Canterbury': 'rgb(230, 99, 250)',
    'New Zealand': 'rgb(99, 110, 250)',
    'Rest of North Island': 'rgb(25, 211, 243)',
    'Rest of South Island': 'rgb(50, 170, 255)',
    'Wellington': '#33a02c'
}

In [1119]:
## FILL IN FIGURE WITH DATA AND FRAMES
col_name_template_housing_income = '{year}_{region}_{header}_KS_grid'
for region in regions_broad:
    data_dict_housing_income = {
        'xsrc': grid_housing_income.get_column_reference(col_name_template_housing_income.format(
            year=year, region=region, header='Average annual household income'
        )),
        'ysrc': grid_housing_income.get_column_reference(col_name_template_housing_income.format(
            year=year, region=region, header='Average annual housing costs'
        )),
        'mode': 'markers',
        'textsrc': grid_housing_income.get_column_reference(col_name_template_housing_income.format(
            year=year, region=region, header='Region'
        )),
        'marker': {
            'sizemode': 'area',
            'sizeref': 2500,
            'color': custom_colors_housing_income[region]
        },
        'name': region
}
    figure_housing_income['data'].append(data_dict_housing_income)

In [1120]:
## Plot
for year in years_housing_income:
    frame_housing_income = {'data': [], 'name': str(year)}
    for region in regions_broad:
        data_dict_housing_income = {
            'xsrc': grid_housing_income.get_column_reference(col_name_template_housing_income.format(
                year=year, region=region, header='Average annual household income'
            )),
            'ysrc': grid_housing_income.get_column_reference(col_name_template_housing_income.format(
                year=year, region=region, header='Average annual housing costs'
            )),
            'mode': 'markers',
            'textsrc': grid_housing_income.get_column_reference(col_name_template_housing_income.format(
                year=year, region=region, header='Region'
                )),
            'marker': {
                'sizemode': 'area',
                'sizeref': 2500,
                'color': custom_colors_housing_income[region]
            },
            'name': region
        }
        frame_housing_income['data'].append(data_dict_housing_income)

    figure_housing_income['frames'].append(frame_housing_income)
    slider_step_housing_income = {'args': [
        [year],
        {'frame': {'duration': 300, 'redraw': False},
         'mode': 'immediate',
       'transition': {'duration': 300}}
     ],
     'label': year,
     'method': 'animate'}
    sliders_dict_housing_income['steps'].append(slider_step_housing_income)

figure_housing_income['layout']['sliders'] = [sliders_dict_housing_income]

In [1122]:
py.icreate_animations(figure_housing_income, 'KS_example'+str(time.time()))